
.ab_main{
    @apply bg-white;
}

.ab_header{
    @apply text-black font-semibold relative text-[20px] w-[110px];
}

.ab_header::before{
    content: " ";
    width: 80px;
    height: 3px;
    @apply bg-kayan absolute right-[-90%] bottom-2;
}