
.project{
    @apply pt-[80px] lg:pt-[120px];
}

.pj_header{
    @apply text-black font-semibold relative text-[20px] w-[100px];
}

.pj_header::before{
    content: " ";
    width: 80px;
    height: 3px;
    @apply bg-kayan absolute right-[-90%] bottom-2;
}